<form class="form-calc">
  <input type="number" [(ngModel)]="num1" name="num1">
  <input type="number" [(ngModel)]="num2" name="num2">
  <a><button class="op-btn" (click)="onClickSum()">+</button>
  {{sum}}

  <button class="op-btn" (click)="onClickMinus()">-</button>
  {{minus}}

  <button class="op-btn" (click)="onClickDivision()">/</button>
  {{division}}

  <button class="op-btn" (click)="onClickMultiply()">*</button>
  {{multiply}}

  <button class="op-btn" (click)="onClickPoten()">^</button>
  {{poten}}

  <button class="op-btn" (click)="onClickRemnant()">%% (resto)</button>
  {{remnant}}</a>
</form>
